<h1>Response</h1>

<h2>You created category {{data.name}}</h2>
<div id="newcats">

    <p>ID: {{data.id}}</p>
    <p>Parent ID:  {{data.parent_id}}</p>
    <p>Name: {{data.name}}</p>
    <p>Description: {{data.description}}</p>
    <p>Sort Order: {{data.sort_order}}</p>
    <p>Page Title: {{data.page_title}}</p>
    <p>Meta Keywords: {{data.meta_keywords}}</p>
    <p>Meta Description: {{data.meta_description}}</p>
    <p>Layout File: {{data.layout_file}}</p>
    <p>Parent Category List: {{data.parent_category_list}}</p>
    <p>Image File: {{data.image_file}}</p>
    <p>Is Visible: {{data.is_visible}}</p>
    <p>Search Keywords: {{data.search_keywords}}</p>
    <p>URL: {{data.url}}</p>

</div>
