<h1>Response</h1>
<ul>
{{#each data}}
{{#if status_id}}
<li>{{id}} {{status}}</li>
{{/if}}
{{#if price}}
<li>Product ID: {{id}} Name: {{name}} <a href="{{primary_image.zoom_url}}" target="_blank">main image</a> Price: {{price}}</li>
{{/if}}
{{#if parent_category_list}}
<li>{{id}} {{name}} {{layout_file}}</li>
{{/if}}
{{/each}}
</ul>